include setup.py README.md MANIFEST.in
recursive-include ./ requirements*.txt requirements*.in
graft mamori
prune mamori/static/mamori
graft mamori/static/mamori/dist
include mamori/static/mamori/assets.json
global-exclude *.py[cod]