psycopg2-binary~=2.8
Django~=3.1.14
dj-database-url
python-dotenv
whitenoise>=5
python-dateutil
ariadne~=0.10.0
email-validator
pydantic
typing_extensions
django-model-utils
django-behaviors
djangorestframework
django-extensions
django-query-builder
django-filter
djangorestframework-gis
django-cors-headers
djoser
django-revproxy
djangorestframework-simplejwt
django-guardian
django-cleanup
cryptography>=3.3.2
django-redis
django-q
django-sequences
arrow
slackclient
httpx
flake8
filelock
pytest-django
coverage
orjson
graphql-core~=3.0.3
aiohttp>=3.7.4
