psycopg2-binary~=2.8
Django~=3.0
dj-database-url
python-dotenv
whitenoise>=5
python-dateutil  # via ariadne
ariadne
email-validator
pydantic
typing_extensions
django-model-utils
django-behaviors
djangorestframework
django-extensions
django-query-builder
django-filter
django-cors-headers
