$body-font-family: "Roboto", "Noto Sans JP", sans-serif !important;

@import "~vuetify/src/styles/main.sass";

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
  > .v-input__control
  > .v-input__slot
  fieldset {
  color: #eaeaea;
}

.v-btn:not(.v-btn--round).v-size--default {
  height: 40px;
}

.v-alert__content {
  font-size: 14px;
}

.relative {
  position: relative;
}

.no-underline {
  text-decoration: none;
}

.f14 {
  font-size: 14px !important;
}

.d-hover {
  border: 1px solid #e1e1e1;
}

.d-hover:hover {
  border: 1px solid #12c7a6 !important;
  transition: all ease-in-out 0.25s;
}

.v-data-table-header tr {
  height: 70px;
}
.v-application--is-ltr .v-data-table--fixed-header .v-data-footer {
  margin-right: 0;
}

.v-data-table td,
.v-data-table th {
  padding: 0 8px;
}

::placeholder {
  color: #ccc !important;
  opacity: 1;
}
