$background-color: #f5f5f5;
$content-width: 100hw;
%detail-section-shared {
  width: 785px;
  background-color: white;
  padding: 45px 0 45px 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

@mixin round-icon($size) {
  height: $size;
  width: $size;
  background-color: #f5f5f5;
  border-radius: 50% !important;
}

%picker-shared {
  $font-size: 14px;

  h5 {
    font-size: $font-size;
    color: #444444;
    font-weight: bold;
  }

  fieldset {
    border-radius: 4px;
  }

  input {
    font-size: $font-size;
    color: #333;
  }
}
